<link rel="stylesheet" type="text/css" href="/assets/adaptative/demo.css" /> 
<link rel="stylesheet" type="text/css" href="/assets/adaptative/stapel.css" />
<link rel="stylesheet" type="text/css" href="/assets/adaptative/custom.css" /> 
<script src="/assets/adaptative_js/modernizr.custom.63321.js"></script>

<div class="">
  <div class="container">	



    <div class="support-note">
      <span class="note-ie">Sorry, only modern browsers.</span>
    </div>



    <section class="main">

      <div class="wrapper">

        <div class="topbar">
          <span id="close" class="back">&larr;</span>
          <h2>Catalogo</h2><h3 id="name">ddas</h3>
        </div>




        <ul id="tp-grid" class="tp-grid">
          <% @people.each do |person|%>
            <%person.tattoos.each do |tattoo|%>
              <li data-pile="<%= tattoo.person.name %>">
                <a href="<%= tattoo.tattoo_url %>">
                  <span class="tp-info"><span> <%=tattoo.description %></span></span>
                  <img src="<%=tattoo.tattoo_url(:mini) %>" />
                </a>
              </li>
            <% end %>
          <% end %>
        </ul>

        <script type="text/javascript" src="/assets/adaptative_js/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/adaptative_js/jquery.stapel.js"></script>
        <script type="text/javascript">
          $(function() {

            var $grid = $('#tp-grid'),
                    $name = $('#name'),
                    $close = $('#close'),
                    $loader = $('<div class="loader"><i></i><i></i><i></i><i></i><i></i><i></i><span>Loading...</span></div>').insertBefore($grid),
                    stapel = $grid.stapel({
                      onLoad: function() {
                        $loader.remove();
                      },
                      onBeforeOpen: function(pileName) {
                        $name.html(pileName);
                      },
                      onAfterOpen: function(pileName) {
                        $close.show();
                      }
                    });

            $close.on('click', function() {
              $close.hide();
              $name.empty();
              stapel.closePile();
            });

          });
        </script>
        </ul>
      </div>
    </section>

  </div><!-- /container -->
</div>