<%#*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>%>

<script language="javascript" src="/assets/jquery.imagemapster.js"></script>

<div id="image">
  <img id="shape1_1406156067117" usemap="#shape1_1406156067117" src="/assets/body/body.png" style="width: 300px;">
  <!-- <img id="shape1" src="/assets/body/body.png" tattoo="shape1" usemap="#shape1"> -->
</div>
<script>
  $(document).ready(function()
  {
    $('#shape1').mapster({
      singleSelect: false,
      render_highlight: {altImage: '/assets/body/body_verde.png'},
      mapKey: 'tattoo',
      fill: true, altImage: '/assets/body/body_rojo.png',
      fillOpacity: 1,
      stroke: true,
      strokeColor: '000000',
      strokeWidth: 3,
    });
  });
</script>

<map name="shape1_1406156067117">
  <area href="#" tattoo="cabeza" coords="223,85,225,73,228,71,231,66,231,60,230,58,228,58,226,59,227,49,225,43,223,38,219,34,215,31,210,30,204,30,198,33,194,36,191,42,190,50,190,56,190,59,188,59,186,58,185,61,186,65,187,69,188,72,191,73,193,85" alt="" onclick="check_head();" shape="poly">
  <area href="#" tattoo="cuello" coords="193,85,223,85,223,96,193,96" alt="" onclick="check_neck();" shape="poly">
  <area href="#" tattoo="torax" coords="193,96,223,96,227,102,232,106,237,109,242,111,249,112,252,168,249,181,247,188,245,194,245,205,246,214,248,222,248,230,249,237,167,237,168,228,169,219,170,210,171,201,170,192,168,183,166,176,164,169,164,112,175,111,180,108,186,104,191,99" alt="" onclick="check_thorax();" shape="poly">
  <area href="#" tattoo="brazo_izquierdo" coords="249,112,252,168,259,182,264,193,267,201,268,207,272,213,295,199,290,194,287,189,284,185,281,177,280,169,278,164,276,158,276,152,276,146,275,137,274,130,269,122,265,117,259,113,254,112" alt="" onclick="check_la();" shape="poly">
  <area href="#" tattoo="antebrazo_izquierdo" coords="272,213,295,199,298,206,300,212,301,219,303,224,305,231,308,238,312,246,315,251,318,255,303,262,301,257,300,253,297,249,293,245,290,240,286,236,283,232,280,228,278,224,275,219" alt="" onclick="check_lfa();" shape="poly">
  <area href="#" tattoo="mano_izquierda" coords="303,262,318,255,319,257,320,258,321,258,323,259,326,260,327,261,329,263,331,265,332,266,333,268,335,271,337,273,338,275,337,276,335,276,333,276,332,275,331,273,330,272,329,272,329,273,329,275,332,281,337,290,338,294,338,296,336,296,335,295,328,282,326,282,325,283,329,291,332,300,332,302,331,304,330,304,328,302,327,298,322,287,321,285,320,285,320,287,321,295,323,303,323,305,321,306,320,305,318,300,316,292,314,286,313,287,313,300,312,301,311,302,309,301,309,286,308,284,306,279,305,276,304,272,303,268,303,263" alt="" onclick="check_lh();" shape="poly">
  <area href="#" tattoo="brazo_derecho" coords="147,212,122,199,127,194,131,188,134,183,136,178,137,170,139,163,140,159,141,153,141,148,141,140,142,134,145,126,149,120,156,115,161,113,164,112,164,169,161,175,160,177,158,184,155,188,153,191,151,195,150,199,149,204,148,208" alt="" onclick="check_ra();" shape="poly">
  <area href="#" tattoo="antebrazo_derecho" coords="122,199,146,212,143,217,141,222,138,227,134,233,130,237,125,244,122,249,119,254,116,258,116,258,115,264,99,258,103,253,106,247,109,241,112,235,114,229,116,223,117,216,118,210,120,205,121,201,122,201,121,200" alt="" onclick="check_rfa();" shape="poly">
  <area href="#" tattoo="mano_derecha" coords="99,258,116,264,116,268,115,272,114,277,112,281,111,285,111,301,110,302,108,303,107,302,107,299,107,287,105,287,104,288,103,295,101,301,100,305,99,307,96,307,96,302,100,288,99,286,97,286,91,304,89,305,87,304,87,301,93,284,91,284,83,297,81,297,80,295,89,278,89,272,88,272,86,276,83,277,81,278,80,277,79,275,82,272,86,266,93,262,98,260" alt="" onclick="check_rh();" shape="poly">
  <area href="#" tattoo="cadera" coords="208,237,249,237,250,244,252,253,255,267,257,277,258,281,208,288,158,281,161,267,164,255,166,242,167,237" alt="" onclick="check_hip();" shape="poly">
  <area href="#" tattoo="muslo_izquierdo" coords="239,393,267,392,264,386,262,377,261,368,260,359,259,347,261,336,261,317,261,299,259,288,258,281,210,288,211,294,212,303,214,315,218,328,222,337,225,346,227,357,230,367,231,376,234,383,237,390" alt="" onclick="check_lth();" shape="poly">
  <area href="#" tattoo="pierna_izquierda" coords="239,393,267,392,271,403,273,415,274,426,273,454,273,467,273,476,276,483,276,487,276,491,257,491,256,489,256,484,258,481,258,477,258,472,257,463,255,456,252,449,249,443,247,438,244,432,242,422,241,412,241,405,241,400,240,396,239,394" alt="" onclick="check_ll();" shape="poly">
  <area href="#" tattoo="pie_izquierdo" coords="276,491,257,491,258,496,258,499,258,503,260,505,260,507,259,510,259,513,261,517,264,522,267,523,270,522,271,520,272,520,273,522,275,523,276,522,277,521,278,521,280,522,281,521,282,520,284,520,285,518,287,517,287,515,286,512,284,509,280,504,277,498,275,495,275,493" alt="" onclick="check_lf();" shape="poly">
  <area href="#" target="muslo_derecho" tattoo="muslo_derecho" coords="158,281,205,288,205,299,205,310,201,325,197,341,195,352,193,365,191,373,190,379,188,384,186,390,184,395,156,394,159,387,160,381,161,373,162,364,161,348,159,336,158,322,157,305,157,294" alt="" onclick="check_rth();" shape="poly">
  <area href="#" tattoo="pierna_derecha" coords="156,394,184,395,183,400,183,406,183,413,183,423,182,432,179,439,175,449,172,457,171,464,170,472,170,478,170,481,171,484,172,486,153,486,154,481,155,478,155,465,154,453,153,442,152,433,151,422,152,412,153,401,155,396" alt="" onclick="check_rl();" shape="poly">
  <area href="#" tattoo="pie_derecho" coords="153,486,172,486,172,489,171,493,170,496,170,499,170,502,169,505,168,508,169,511,169,514,169,517,167,519,165,522,162,524,160,524,159,522,158,521,156,521,155,522,154,524,153,522,150,522,149,522,147,521,145,521,143,520,142,516,143,512,146,509,148,505,151,502,152,497,153,493,152,490,152,488" alt="" onclick="check_rf();" shape="poly">
</map>

<!--
<map name="shape1">

  <area shape="poly" alt="" coords="223,85,225,73,228,71,231,66,231,60,230,58,228,58,226,59,227,49,225,43,223,38,219,34,215,31,210,30,204,30,198,33,194,36,191,42,190,50,190,56,190,59,188,59,186,58,185,61,186,65,187,69,188,72,191,73,193,85" tattoo="cabeza" href="#" />
  <area shape="poly" alt="" coords="193,85,223,85,223,96,193,96" tattoo="cuello" href="#" />
  <area shape="poly" alt="" coords="193,96,223,96,227,102,232,106,237,109,242,111,249,112,252,168,249,181,247,188,245,194,245,205,246,214,248,222,248,230,249,237,167,237,168,228,169,219,170,210,171,201,170,192,168,183,166,176,164,169,164,112,175,111,180,108,186,104,191,99" tattoo="torso" href="#" />
  <area shape="poly" alt="" coords="249,112,252,168,259,182,264,193,267,201,268,207,272,213,295,199,290,194,287,189,284,185,281,177,280,169,278,164,276,158,276,152,276,146,275,137,274,130,269,122,265,117,259,113,254,112" tattoo="brazo_izquierdo" href="#" />
  <area shape="poly" alt="" coords="272,213,295,199,298,206,300,212,301,219,303,224,305,231,308,238,312,246,315,251,318,255,303,262,301,257,300,253,297,249,293,245,290,240,286,236,283,232,280,228,278,224,275,219" tattoo="antebrazo_izquierdo" href="#" />
  <area shape="poly" alt="" coords="303,262,318,255,319,257,320,258,321,258,323,259,326,260,327,261,329,263,331,265,332,266,333,268,335,271,337,273,338,275,337,276,335,276,333,276,332,275,331,273,330,272,329,272,329,273,329,275,332,281,337,290,338,294,338,296,336,296,335,295,328,282,326,282,325,283,329,291,332,300,332,302,331,304,330,304,328,302,327,298,322,287,321,285,320,285,320,287,321,295,323,303,323,305,321,306,320,305,318,300,316,292,314,286,313,287,313,300,312,301,311,302,309,301,309,286,308,284,306,279,305,276,304,272,303,268,303,263" tattoo="mano_izquierda" href="#" />
  <area shape="poly" alt="" coords="147,212,122,199,127,194,131,188,134,183,136,178,137,170,139,163,140,159,141,153,141,148,141,140,142,134,145,126,149,120,156,115,161,113,164,112,164,169,161,175,160,177,158,184,155,188,153,191,151,195,150,199,149,204,148,208" tattoo="brazo_derecho" href="#" />
  <area shape="poly" alt="" coords="122,199,146,212,143,217,141,222,138,227,134,233,130,237,125,244,122,249,119,254,116,258,116,258,115,264,99,258,103,253,106,247,109,241,112,235,114,229,116,223,117,216,118,210,120,205,121,201,122,201,121,200" tattoo="antebrazo_derecho" href="#" />
  <area shape="poly" alt="" coords="99,258,116,264,116,268,115,272,114,277,112,281,111,285,111,301,110,302,108,303,107,302,107,299,107,287,105,287,104,288,103,295,101,301,100,305,99,307,96,307,96,302,100,288,99,286,97,286,91,304,89,305,87,304,87,301,93,284,91,284,83,297,81,297,80,295,89,278,89,272,88,272,86,276,83,277,81,278,80,277,79,275,82,272,86,266,93,262,98,260" tattoo="mano_derecha" href="#" />
  <area shape="poly" alt="" coords="208,237,249,237,250,244,252,253,255,267,257,277,258,281,208,288,158,281,161,267,164,255,166,242,167,237" tattoo="cadera" href="#" />
  <area shape="poly" alt="" coords="239,393,267,392,264,386,262,377,261,368,260,359,259,347,261,336,261,317,261,299,259,288,258,281,210,288,211,294,212,303,214,315,218,328,222,337,225,346,227,357,230,367,231,376,234,383,237,390" tattoo="muslo_izquierdo" href="#" />
  <area shape="poly" alt="" coords="239,393,267,392,271,403,273,415,274,426,273,454,273,467,273,476,276,483,276,487,276,491,257,491,256,489,256,484,258,481,258,477,258,472,257,463,255,456,252,449,249,443,247,438,244,432,242,422,241,412,241,405,241,400,240,396,239,394" tattoo="pierna_izquierda" href="#" />
  <area shape="poly" alt="" coords="276,491,257,491,258,496,258,499,258,503,260,505,260,507,259,510,259,513,261,517,264,522,267,523,270,522,271,520,272,520,273,522,275,523,276,522,277,521,278,521,280,522,281,521,282,520,284,520,285,518,287,517,287,515,286,512,284,509,280,504,277,498,275,495,275,493" tattoo="pie_izquierdo" href="#" />
  <area shape="poly" alt="" coords="158,281,205,288,205,299,205,310,201,325,197,341,195,352,193,365,191,373,190,379,188,384,186,390,184,395,156,394,159,387,160,381,161,373,162,364,161,348,159,336,158,322,157,305,157,294" tattoo="muslo_derecho" target="muslo_derecho" href="#" />
  <area shape="poly" alt="" coords="156,394,184,395,183,400,183,406,183,413,183,423,182,432,179,439,175,449,172,457,171,464,170,472,170,478,170,481,171,484,172,486,153,486,154,481,155,478,155,465,154,453,153,442,152,433,151,422,152,412,153,401,155,396" tattoo="pierna_derecha" href="#" />
  <area shape="poly" alt="" coords="153,486,172,486,172,489,171,493,170,496,170,499,170,502,169,505,168,508,169,511,169,514,169,517,167,519,165,522,162,524,160,524,159,522,158,521,156,521,155,522,154,524,153,522,150,522,149,522,147,521,145,521,143,520,142,516,143,512,146,509,148,505,151,502,152,497,153,493,152,490,152,488" tattoo="pie_derecho" href="#" />
</map>
-->
