<%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>
        <b><%= t'.description' %></b> <%= @crime.description %>
      </td>
    </tr>
  </table>
</div>
<%= render "layouts/action_links" %>

<br />
