<%%= render "layouts/first_tab" %>

<div class="CSSTableGenerator" >
  <table >
    <% attributes.each do |attribute| -%>
      <tr>
        <td>
          <b><%%= t'.<%= attribute.human_name.downcase.tr(" ", "_") %>' %></b> <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
        </td>
      </tr>
    <% end -%>
  </table>
</div>
<%%= render "layouts/action_links" %>

<br />
