<select name="dropdown" class="medium-input">
  <option value=""><%=t(:choose_action)%></option>
  <option value="1"><%=t(:destroy)%></option>
</select>
<a class="button" href="#"><%=t(:apply_to_selected)%></a>